:root {
  --font-script: "Eczar", serif;
  --font-title: "Carattere", cursive;
}

body {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem;
  margin: 2rem auto;
}

.App-header {
  margin: 10px 0;
  font-family: var(--font-title);
  text-shadow: 0 0 5px #fff, 0 0 10px #ffd65d, 0 0 20px #ffd65d,
    0 0 40px #ffd65d;
}

.App-header h1 {
  font-size: 3rem;
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.Results{
  font-family: var(--font-script);
}

.definition-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
 font-family: var(--font-script);
}

.definition-box p {
  margin: 0;
}

.highlight {
   text-shadow: 0 0 5px #fff, 0 0 10px #ffd65d, 0 0 20px #ffd65d,
    0 0 40px #ffd65d;
}

footer {
  font-family: var(--font-title);
  font-size: 1rem;
}

footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5px #fff, 0 0 10px #ffd65d, 0 0 20px #ffd65d,
    0 0 40px #ffd65d;
  transition: color 0.3s ease;
  font-size: 1.25rem;
}
footer a:hover {
  font-size: 1.5rem;

}