:root {
  --font-script: "Eczar", serif;
  --font-title: "Carattere", cursive;
  --color-mint: #a6d6b3;
  --color-blush: #f4a9b8;
  --color-lavender: #b9a5d6;
  --color-cream: #f8f1e7;
  --glow: 0 0 5px #fff, 0 0 10px #ffd65d, 0 0 20px #ffd65d,
    0 0 40px #ffd65d;
  --color-text: #4c445c;
  --shadow: 0 4px 30px rgba(64, 44, 79, 0);
}

body {
  background: var(--color-lavender);
  color:var(--color-text)
}

.container {
  background: var(--color-mint);
  border-radius: 20px;
  box-shadow: var(--shadow);
  margin: 2rem auto;
  padding: 1rem;
}

.Hero {
  align-items: center;
  background-image: url("./background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-title);
  font-family: var(--font-title);
  height: 60vh;
  justify-content: flex-end;
  padding: 2rem;
  text-align: center;
}

.Results {
  font-family: var(--font-script);
}

.definition-box {
  background: var(--color-mint);
  border-radius: 16px;
  box-shadow: var(--shadow);
  font-family: var(--font-script);
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.definition-box p {
  margin: 0;
}

.highlight {
  text-shadow: var(--glow);
}

footer {
  font-family: var(--font-title);
  font-size: 1rem;
}

footer a {
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: var(--glow);
  transition: color 0.3s ease;
}

footer a:hover {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
  }
}
